@import './AttachMenu/AttachMenu';
@import './Chatbot/Chatbot';
@import './ChatbotAlert/ChatbotAlert';
@import './ChatbotContent/ChatbotContent';
@import './ChatbotConversationHistoryNav/ChatbotConversationHistoryNav';
@import './ChatbotFooter/ChatbotFooter';
@import './ChatbotHeader/ChatbotHeader';
@import './ChatbotModal/ChatbotModal';
@import './ChatbotPopover/ChatbotPopover';
@import './ChatbotToggle/ChatbotToggle';
@import './ChatbotWelcomePrompt/ChatbotWelcomePrompt';
@import './CodeModal/CodeModal';
@import './Compare/Compare';
@import './DeepThinking/DeepThinking';
@import './FileDetails/FileDetails';
@import './FileDetailsLabel/FileDetailsLabel';
@import './FileDropZone/FileDropZone';
@import './FilePreview/FilePreview.scss';
@import './ImagePreview/ImagePreview';
@import './Message/Message';
@import './Message/CodeBlockMessage/CodeBlockMessage';
@import './Message/ImageMessage/ImageMessage';
@import './Message/LinkMessage/LinkMessage';
@import './Message/TextMessage/TextMessage';
@import './Message/ListMessage/ListMessage';
@import './Message/TableMessage/TableMessage';
@import './Message/MessageLoading';
@import './Message/QuickStarts/QuickStartTile';
@import './Message/QuickResponse/QuickResponse';
@import './Message/UserFeedback/UserFeedback';
@import './MessageBar/MessageBar';
@import './MessageBox/MessageBox';
@import './MessageDivider/MessageDivider';
@import './MessageBox/JumpButton';
@import './Onboarding/Onboarding';
@import './ResponseActions/ResponseActions';
@import './Settings/Settings';
@import './SourcesCard/SourcesCard.scss';
@import './SourceDetailsMenuItem/SourceDetailsMenuItem';
@import './TermsOfUse/TermsOfUse';
@import './ToolResponse/ToolResponse';
@import './ToolCall/ToolCall';

// hide from view but not assistive technologies
// https://css-tricks.com/inclusively-hidden/
.pf-chatbot-m-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
